<div class="container">
<div class="card mt-4 mb-3">
	<div class="card-header h2">To-Do App</div>
	<div class="card-body">
	<div class="mb-3">
	  <div class="input-group mb-3">
      <input id="msgInput" type="text" class="form-control">
      <button class="btn btn-outline-success" type="button" id="addBtn">Add</button>
  </div>
	</div>
	<ul id="msgs" class="list-group">
	  <%msgs.forEach(data => {%>
	    <li id="<%=data.id%>" class="list-group-item"><%=data.msg%> <button onclick="delMsg('<%=data.id%>')" class="delBtn" style="float: right;">Delete</button></li>
	  <%})%>
	</ul>
	</div>
</div>
</div>
